.search-root {
    height: 50%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-title {
    color: var(--secondary-color);
    font-size: 50px;
    text-align: center;
    margin: 20px;
}

.search-filter {
    height: 60px;
}

.main-page-content-container {
   min-height: 40%;
   background-color: var(--secondary-bg-color);
}
