.auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.form-container {
    padding: 50px;
    padding-top: 10px;
    width: 400px;
    min-height: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--highlight-color);
    justify-content: center;
    align-items: center;
    text-align: center;
}
