.navigation {
    display: flex;
    height: 10%;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: space-between;
}
.navigation .link {
    text-decoration: none;
    color: inherit;
}
.navigation p {
    color: var(--secondary-color);
    margin: 0 50px;
    padding: 0 10px;
}
