.flex-container-row {
    display: flex;
}

.main-axis-center {
    justify-content: center;
}

.cross-axis-center {
    align-items: center;
}

.main-axis-end {
    justify-content: flex-end;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.page-height {
    height: 80%;
}

.list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px;
}

.form-container {
    padding: 50px;
    padding-top: 10px;
    width: 400px;
    min-height: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--highlight-color);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-loader-container {
    height: 70px;
}
